/* fix follow smacss */

.article {
  background-color: white;
  padding-bottom: 3rem;
  position: relative;

  a {
    color: inherit;

    &.counter { ///fix: remove unused tags and convert to rem / em units
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border: 1px solid #dfdfdf;
      border: 1px solid rgba(0, 0, 0, 0.075);
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 48px;
      text-align: center;
      color: #000;
      color: rgba(0, 0, 0, 0.55);
      background-color: #fff;
      border-radius: 100em;
      border: 0;
      color: white;
      background-color: #222;
    }

  }
}

.article:nth-of-type(odd) {
  background-color: $blue-lighter;
}

.post-container {
  padding-top: 1.5rem;
}

.post-wrapper {
  max-width: 1200px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 6rem;
}

.post-title {
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.post-summary {
  margin: 1em 0em 1em 0.5em;
}

.date {
  color: $grayDark;
  font-size: 1.2em;
  opacity: 0.5;
}

.thumbnail {
  background-color: blue;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.075);
  padding: 7px;
  background-color: #fff;
  border-radius: 0px;
}

.thumbnail > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;;
}

/** submodule **/

.recent-post {

  display: block;
  border: 1px solid $grayLighter;
  padding: 0.4rem;
  text-decoration: none;
  margin-bottom: 1rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }

    footer {
      display: block;
      background-color: #B1E1E8;
      padding: 0.4rem;
      color: $grayDark;

      span {
        display: block;
      }
    }
}