$font-size-base: 16px;

$font-size-h1:            modular-scale(5) !default; // mobile first
$font-size-h2:            modular-scale(4) !default;
$font-size-h3:            modular-scale(3) !default;
$font-size-h4:            modular-scale(2) !default;
$font-size-h5:            modular-scale(1) !default;
$font-size-h6:            0.8em !default;

@mixin _headline($_font-size, $_font_family, $_line_height) {

  font: {
    size: $_font-size;
    family: $_font_family;
    font-weight: 300;
    font-style: normal;
  };
  line-height: $_line_height;
  margin: 0;
  text-transform: none;
  box-sizing: border-box;
  display: block;
}

h1, .h1 {
  @include _headline($font-size-h1, $font-family-unica-one, $line-height-header);
  color: $blue-dark;
  line-height: 1.3;

  @media screen and (min-width: $tablet) {
    font-size: 3.5em;
  }
}

h2, .h2 {
  @include _headline($font-size-h2, $font-family-sans-serif-light, $line-height-header);
}

h3, .h3 {
  @include _headline($font-size-h3, $font-family-sans-serif-light, $line-height-header);
}

h4, .h4 {
  @include _headline($font-size-h4, $font-family-sans-serif-light, $line-height-header);
}

h5, .h5 {
  @include _headline($font-size-h5, $font-family-sans-serif-light, $line-height-header);
}

h6, .h6 {
  @include _headline($font-size-h6, $font-family-sans-serif-light, $line-height-header);
}

.text-small {
  font-size:  modular-scale(-1);
}

.link {
  @include text-decoration(none solid $black);
  text-decoration: none !important;

  &:hover{
     color: $blue-darkest;
  }
}